extends layout

block content
    .container-fluid
      div(class="alert alert-danger fade show", id="CuadroAlerta", style="display: none;")
        span(id="txtResultado") Errores
        button(type="button", class="close", id="btnCerrar")
          span(aria-hidden="true") &times;
      h1 Compras
      img(id="trabajandoAJAX" src="images/ajaxloading.gif" alt="Cargando ...")
      .row
        div.col-xs-12.col-sm-6(id="listadoCarrito")
        div.col-xs-12.col-sm-6.order-xs-first(id="listadoProducto")
          h3 Películas
          .input-group
            input.form-control(type="text", placeholder="Filtrar por...", id="txtFiltro")
            .input-group-append
              button.btn.btn-outline-secondary(type="button", for="txtFiltro", id="btnLimpiaFiltro")
                span(aria-hidden="true") &times;
          ul.list-group(id="filtroResult")
block scripts
  script(src="vendor/mustache.js")
  script(src="javascripts/carrito.js")
  script(id="tmplListadoProducto", type="x-tmpl-mustache").
    {{#filas}}
    <li class="list-group-item list-group-item-action" draggable="true" ondragstart="mng.drag(event, {{id}})">
        <h6>{{titulo}}
        <button class="btn btn-success btn-xs float-right" aria-label="añadir al carrito" onclick="mng.Refresca(carrito.add({{id}}, '{{titulo}}', {{precio}}));">
          <i class="fas fa-cart-plus"></i>
        </button></h6>
        <small><i>{{director}} ({{idioma}}) <b>Precio:</b> {{precio}} €</i></small>
    </li>
    {{/filas}}
  script(id="tmplListadoCarrito", type="x-tmpl-mustache").
      <h3>Pedido</h3>
      <table class="table table-striped table-hover" ondrop="mng.drop(event)" ondragover="mng.allowDrop(event)">
          <tr class="table-info">
              <th>Producto</th>
              <th class="text-center">Cantidad</th>
              <th class="text-right">Importe</th>
              <th>                        
                  <button class="btn btn-danger btn-xs" aria-label="eliminar del carrito" onclick="carrito.vaciar();mng.Refresca();">
                      <i class="far fa-trash-alt"></i>
                  </button>
              </th>
          </tr>
          {{#filas}}
          <tr>
              <td><h6>{{producto}}</h6><small>Precio: {{precio}}€</small></td>
              <td class="text-center">{{cantidad}}</td>
              <td class="text-right">{{importe}} €</td>
              <td>
                  <button class="btn btn-danger btn-xs" onclick="carrito.remove({{id}});mng.Refresca();">
                      <i class="fas fa-trash-alt"></i>
                  </button>
              </td>
          </tr>
          {{/filas}}
          <tr class="table-info">
              <th></th>
              <th class="text-right">Total:</th>
              <th class="text-right">{{total}} €</th>
              <th></th>
          </tr>
      </table>
  script.
    let mng = new CarritoManager();
    let delay = null;

    $(document).ready(function () {
        mng.ListarProductos();
        mng.Refresca();
        mng.PonError = function (msg) {
            $('#txtResultado').text(msg);
            $('#CuadroAlerta').show();
        };
        $('#txtFiltro').keyup(function(ev) {
            if(delay)
                clearTimeout(delay);
            let filtro = ev.target.value;
            delay = setTimeout(function() {
                mng.Filtra(ev.target.value);
                delay = null;
            }, 500);
        });
        $('#btnLimpiaFiltro').click(function(ev) {
            $('#txtFiltro').val("");
            mng.Filtra("");
        });
        $('#btnCerrar').click(function(ev) {
            $('#CuadroAlerta').hide();
        });
        $(document)
            .ajaxStart(function () {
                $('#trabajandoAJAX').show();
            }).ajaxStop(function () {
                $('#trabajandoAJAX').hide();
            });
    });
